Kompo/Kino/Kino.laccdb
Kompo/Kino/bin/mainPackage/Controller/Controller$1.class
Kompo/Kino/bin/mainPackage/Controller/Controller$10.class
Kompo/Kino/bin/mainPackage/Controller/Controller$11.class
Kompo/Kino/bin/mainPackage/Controller/Controller$12.class
Kompo/Kino/bin/mainPackage/Controller/Controller$13.class
Kompo/Kino/bin/mainPackage/Controller/Controller$14.class
Kompo/Kino/bin/mainPackage/Controller/Controller$15.class
Kompo/Kino/bin/mainPackage/Controller/Controller$16.class
Kompo/Kino/bin/mainPackage/Controller/Controller$17.class
Kompo/Kino/bin/mainPackage/Controller/Controller$18.class
Kompo/Kino/bin/mainPackage/Controller/Controller$19.class
Kompo/Kino/bin/mainPackage/Controller/Controller$2.class
Kompo/Kino/bin/mainPackage/Controller/Controller$20.class
Kompo/Kino/bin/mainPackage/Controller/Controller$21.class
Kompo/Kino/bin/mainPackage/Controller/Controller$22.class
Kompo/Kino/bin/mainPackage/Controller/Controller$23.class
Kompo/Kino/bin/mainPackage/Controller/Controller$24.class
Kompo/Kino/bin/mainPackage/Controller/Controller$25.class
Kompo/Kino/bin/mainPackage/Controller/Controller$26.class
Kompo/Kino/bin/mainPackage/Controller/Controller$27.class
Kompo/Kino/bin/mainPackage/Controller/Controller$28.class
Kompo/Kino/bin/mainPackage/Controller/Controller$3.class
Kompo/Kino/bin/mainPackage/Controller/Controller$4.class
Kompo/Kino/bin/mainPackage/Controller/Controller$5.class
Kompo/Kino/bin/mainPackage/Controller/Controller$6.class
Kompo/Kino/bin/mainPackage/Controller/Controller$7.class
Kompo/Kino/bin/mainPackage/Controller/Controller$8.class
Kompo/Kino/bin/mainPackage/Controller/Controller$9.class
Kompo/Kino/bin/mainPackage/Controller/Controller$BookedSelectionListener.class
Kompo/Kino/bin/mainPackage/Controller/Controller$CostsSelectionListener.class
Kompo/Kino/bin/mainPackage/Controller/Controller$FilmsSelectionListener.class
Kompo/Kino/bin/mainPackage/Controller/Controller$SelectionListener.class
Kompo/Kino/bin/mainPackage/Controller/Controller$TicketsSelectionListener.class
Kompo/Kino/bin/mainPackage/Controller/Controller.class
Kompo/Kino/bin/mainPackage/Controller/CostsSelectionController.class
Kompo/Kino/bin/mainPackage/Controller/FilmsSelectionController.class
Kompo/Kino/bin/mainPackage/Controller/Main$1.class
Kompo/Kino/bin/mainPackage/Controller/Main.class
Kompo/Kino/bin/mainPackage/Controller/RepertoireSelectionController.class
Kompo/Kino/bin/mainPackage/Controller/SelectionController.class
Kompo/Kino/bin/mainPackage/Controller/SerializationController.class
Kompo/Kino/bin/mainPackage/Controller/TicketsSelectionController.class
Kompo/Kino/bin/mainPackage/Model/Cost.class
Kompo/Kino/bin/mainPackage/Model/CostCollection.class
Kompo/Kino/bin/mainPackage/Model/DBController.class
Kompo/Kino/bin/mainPackage/Model/Film.class
Kompo/Kino/bin/mainPackage/Model/Model.class
Kompo/Kino/bin/mainPackage/Model/Repertoire.class
Kompo/Kino/bin/mainPackage/Model/Seance.class
Kompo/Kino/bin/mainPackage/Model/Ticket.class
Kompo/Kino/bin/mainPackage/Model/TicketCollection.class
Kompo/Kino/bin/mainPackage/View/AdminMenu.class
Kompo/Kino/bin/mainPackage/View/BasketMenu.class
Kompo/Kino/bin/mainPackage/View/BookTicketMenu.class
Kompo/Kino/bin/mainPackage/View/BuyTicketMenu.class
Kompo/Kino/bin/mainPackage/View/Chart$1.class
Kompo/Kino/bin/mainPackage/View/Chart$myPaintContext.class
Kompo/Kino/bin/mainPackage/View/Chart.class
Kompo/Kino/bin/mainPackage/View/FilmCreationWindow.class
Kompo/Kino/bin/mainPackage/View/MyKeyAdapter.class
Kompo/Kino/bin/mainPackage/View/MyTableModel.class
Kompo/Kino/bin/mainPackage/View/SeanceCreationWindow.class
Kompo/Kino/bin/mainPackage/View/SmallWindow.class
Kompo/Kino/bin/mainPackage/View/TicketMenu.class
Kompo/Kino/bin/mainPackage/View/UserMenu.class
Kompo/Kino/bin/mainPackage/View/UserMenuAdmin.class
Kompo/Kino/bin/mainPackage/View/UserMenuUser.class
Kompo/Kino/bin/mainPackage/View/View$1.class
Kompo/Kino/bin/mainPackage/View/View$2.class
Kompo/Kino/bin/mainPackage/View/View$3.class
Kompo/Kino/bin/mainPackage/View/View.class
Kompo/zadanie03/bin/Eksponat$1.class
Kompo/zadanie03/bin/Eksponat$2.class
Kompo/zadanie03/bin/Eksponat$3.class
Kompo/zadanie03/bin/ExceptionTester.class
Kompo/zadanie03/bin/IEksponat.class
Kompo/zadanie03/bin/IKontener.class
Kompo/zadanie03/bin/Kontener.class
Kompo/zadanie03/bin/NoALetterException.class
Kompo/zadanie03/bin/NotDivisableByTwoException.class
Kompo/zadanie03/bin/Serializacja.class
Kompo/zadanie03/ser.xml
Numerki/Zadanie01/Zadanie01.sdf
Numerki/Zadanie01/Zadanie01/Debug/Zadanie01.tlog/CL.read.1.tlog
Numerki/Zadanie01/Zadanie01/Debug/Zadanie01.tlog/CL.write.1.tlog
Numerki/Zadanie01/Zadanie01/Debug/Zadanie01.tlog/Zadanie01.lastbuildstate
Numerki/Zadanie01/Zadanie01/Debug/Zadanie01.tlog/cl.command.1.tlog
Numerki/Zadanie01/Zadanie01/Debug/Zadanie01.tlog/link.command.1.tlog
Numerki/Zadanie01/Zadanie01/Debug/Zadanie01.tlog/link.read.1.tlog
Numerki/Zadanie01/Zadanie01/Debug/Zadanie01.tlog/link.write.1.tlog
Numerki/Zadanie01/Zadanie01/Debug/vc120.idb
Numerki/Zadanie01/Zadanie01/gnuplotia01268
Numerki/Zadanie01/Zadanie01/gnuplotia04168
Numerki/Zadanie01/Zadanie01/gnuplotia05024
Numerki/Zadanie01/Zadanie01/gnuplotia06504
Numerki/Zadanie01/Zadanie01/gnuplotib01268
Numerki/Zadanie01/Zadanie01/gnuplotib04168
Numerki/Zadanie01/Zadanie01/gnuplotib05024
Numerki/Zadanie01/Zadanie01/gnuplotib06504
Numerki/Zadanie01/Zadanie01/gnuplotic01268
Numerki/Zadanie01/Zadanie01/gnuplotic04168
Numerki/Zadanie01/Zadanie01/gnuplotic05024
Numerki/Zadanie01/Zadanie01/gnuplotic06504
Numerki/Zadanie02/Zadanie02.sdf
Numerki/Zadanie03/Zadanie03.sdf
Numerki/Zadanie03/Zadanie03/Debug/Zadanie03.tlog/CL.read.1.tlog
Numerki/Zadanie03/Zadanie03/Debug/Zadanie03.tlog/CL.write.1.tlog
Numerki/Zadanie03/Zadanie03/Debug/Zadanie03.tlog/Zadanie03.lastbuildstate
Numerki/Zadanie03/Zadanie03/Debug/Zadanie03.tlog/cl.command.1.tlog
Numerki/Zadanie03/Zadanie03/Debug/Zadanie03.tlog/link.command.1.tlog
Numerki/Zadanie03/Zadanie03/Debug/Zadanie03.tlog/link.read.1.tlog
Numerki/Zadanie03/Zadanie03/Debug/Zadanie03.tlog/link.write.1.tlog
Numerki/Zadanie03/Zadanie03/Debug/vc120.idb
Numerki/Zadanie03/Zadanie03/gnuplotia00944
Numerki/Zadanie03/Zadanie03/gnuplotia01540
Numerki/Zadanie03/Zadanie03/gnuplotia02992
Numerki/Zadanie03/Zadanie03/gnuplotia03536
Numerki/Zadanie03/Zadanie03/gnuplotia05128
Numerki/Zadanie03/Zadanie03/gnuplotia05212
Numerki/Zadanie03/Zadanie03/gnuplotia06336
Numerki/Zadanie03/Zadanie03/gnuplotia06688
Numerki/Zadanie03/Zadanie03/gnuplotia06764
Numerki/Zadanie03/Zadanie03/gnuplotia06928
Numerki/Zadanie03/Zadanie03/gnuplotib00944
Numerki/Zadanie03/Zadanie03/gnuplotib01540
Numerki/Zadanie03/Zadanie03/gnuplotib02992
Numerki/Zadanie03/Zadanie03/gnuplotib03536
Numerki/Zadanie03/Zadanie03/gnuplotib05128
Numerki/Zadanie03/Zadanie03/gnuplotib05212
Numerki/Zadanie03/Zadanie03/gnuplotib06336
Numerki/Zadanie03/Zadanie03/gnuplotib06688
Numerki/Zadanie03/Zadanie03/gnuplotib06764
Numerki/Zadanie03/Zadanie03/gnuplotib06928
Numerki/Zadanie04/Zadanie04.sdf
PSG_Marcin/Engine2D/Debug/ColorPixelShader.cso
PSG_Marcin/Engine2D/Debug/ColorVertexShader.cso
PSG_Marcin/Engine2D/Debug/TexturePixelShader.cso
PSG_Marcin/Engine2D/Debug/TextureVertexShader.cso
PSG_Marcin/Engine2D/Engine2D.sdf
PSG_Marcin/Engine2D/Engine2D/Debug/Engine2D.tlog/CL.read.1.tlog
PSG_Marcin/Engine2D/Engine2D/Debug/Engine2D.tlog/CL.write.1.tlog
PSG_Marcin/Engine2D/Engine2D/Debug/Engine2D.tlog/Engine2D.lastbuildstate
PSG_Marcin/Engine2D/Engine2D/Debug/Engine2D.tlog/Engine2D.write.1u.tlog
PSG_Marcin/Engine2D/Engine2D/Debug/Engine2D.tlog/FXC.command.1.tlog
PSG_Marcin/Engine2D/Engine2D/Debug/Engine2D.tlog/cl.command.1.tlog
PSG_Marcin/Engine2D/Engine2D/Debug/Engine2D.tlog/fxc.read.1.tlog
PSG_Marcin/Engine2D/Engine2D/Debug/Engine2D.tlog/fxc.write.1.tlog
PSG_Marcin/Engine2D/Engine2D/Debug/Engine2D.tlog/link.command.1.tlog
PSG_Marcin/Engine2D/Engine2D/Debug/Engine2D.tlog/link.read.1.tlog
PSG_Marcin/Engine2D/Engine2D/Debug/Engine2D.tlog/link.write.1.tlog
PSG_Marcin/Engine2D/Engine2D/Debug/vc120.idb
SW/workspace/.metadata/.lock
SW/workspace/.metadata/.mylyn/repositories.xml.zip
SW/workspace/.metadata/.plugins/org.eclipse.cdt.codan.ui/dialog_settings.xml
SW/workspace/.metadata/.plugins/org.eclipse.cdt.core/language.settings.xml
SW/workspace/.metadata/.plugins/org.eclipse.cdt.core/mp3player.1413222783997.pdom
SW/workspace/.metadata/.plugins/org.eclipse.cdt.core/mp3player.language.settings.xml
SW/workspace/.metadata/.plugins/org.eclipse.cdt.core/shareddefaults.xml
SW/workspace/.metadata/.plugins/org.eclipse.cdt.make.core/mp3player.sc
SW/workspace/.metadata/.plugins/org.eclipse.cdt.make.core/mp3player_scd.mk
SW/workspace/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
SW/workspace/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
SW/workspace/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/mp3player/895073085
SW/workspace/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/mp3player/mp3player
SW/workspace/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
SW/workspace/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/1a/b06428ae1c5300141721c3fb43f64179
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/1c/c0bd847f125300141946f2b517f4cbb5
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/22/f0d800111e5300141721c3fb43f64179
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/37/00f5ac600f530014164b857febe37a60
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/38/503c1f77125300141946f2b517f4cbb5
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/47/60aaa3591e5300141721c3fb43f64179
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/4f/60dd35ec115300141946f2b517f4cbb5
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/5/20e132ad1c5300141721c3fb43f64179
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/57/20bdebe0125300141946f2b517f4cbb5
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/6/1001dcb01e5300141721c3fb43f64179
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/77/d0aaf9db02530014164b857febe37a60
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/77/f08fb1761e5300141721c3fb43f64179
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/78/8022f454125300141946f2b517f4cbb5
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/7a/c0dff3b7115300141946f2b517f4cbb5
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/80/30bd41d602530014164b857febe37a60
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/8e/8039157c125300141946f2b517f4cbb5
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/91/a0f3c35c125300141946f2b517f4cbb5
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/a/505f17e9115300141946f2b517f4cbb5
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/c7/f0be9fae195300141721c3fb43f64179
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/ce/8082011d1e5300141721c3fb43f64179
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/cf/d0d514db125300141946f2b517f4cbb5
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/ed/002624780e530014164b857febe37a60
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.history/fe/d02c277b0e530014164b857febe37a60
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/mp3player/.indexes/21/properties.index
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/mp3player/.indexes/af/history.index
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/mp3player/.indexes/history.index
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/mp3player/.indexes/properties.index
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/mp3player/.markers
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/mp3player/org.eclipse.egit.core/GitProjectData.properties
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.root/6.tree
SW/workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-mp3player.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.dsf.ui.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.make.core.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.mylyn.ui.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prj-mp3player.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
SW/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
SW/workspace/.metadata/.plugins/org.eclipse.debug.core/.launches/LPC2148 OpenOCD.launch
SW/workspace/.metadata/.plugins/org.eclipse.debug.core/.launches/mp3player Default (1).launch
SW/workspace/.metadata/.plugins/org.eclipse.debug.core/.launches/mp3player Default.launch
SW/workspace/.metadata/.plugins/org.eclipse.debug.core/.launches/mp3player.exe.launch
SW/workspace/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
SW/workspace/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
SW/workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
SW/workspace/.metadata/.plugins/org.eclipse.equinox.p2.ui/dialog_settings.xml
SW/workspace/.metadata/.plugins/org.eclipse.help.ui/dialog_settings.xml
SW/workspace/.metadata/.plugins/org.eclipse.help.ui/scope_sets/Default.pref
SW/workspace/.metadata/.plugins/org.eclipse.help.ui/scope_sets/discovery.hist
SW/workspace/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/devhelp.libhover
SW/workspace/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/glibc_library.libhover
SW/workspace/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
SW/workspace/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.mav02_28/FP.local.files_0/node.properties
SW/workspace/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.mav02_28/H.local_16/node.properties
SW/workspace/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.mav02_28/node.properties
SW/workspace/.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
SW/workspace/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
SW/workspace/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
SW/workspace/.metadata/version.ini
SW/workspace/mp3player/.gitignore
SW/workspace/mp3player/.settings/language.settings.xml
SW/workspace/mp3player/.settings/org.eclipse.cdt.managedbuilder.core.prefs
SW/workspace/mp3player/Makefile
SW/workspace/mp3player/mp3player.cpp
Tuning/Tetris/Assets/EdgeColliderLeft.prefab.meta
Tuning/Tetris/Assets/EdgeColliderRight.prefab.meta
Tuning/Tetris/Library/metadata/00/00000000000000002000000000000000
Tuning/Tetris/Library/metadata/00/00000000000000003000000000000000
Tuning/Tetris/Library/metadata/00/00000000000000004000000000000000
Tuning/Tetris/Library/metadata/00/00000000000000004100000000000000
Tuning/Tetris/Library/metadata/00/00000000000000005000000000000000
Tuning/Tetris/Library/metadata/00/00000000000000005100000000000000
Tuning/Tetris/Library/metadata/00/00000000000000006000000000000000
Tuning/Tetris/Library/metadata/00/00000000000000006100000000000000
Tuning/Tetris/Library/metadata/00/00000000000000007000000000000000
Tuning/Tetris/Library/metadata/00/00000000000000008000000000000000
Tuning/Tetris/Library/metadata/00/00000000000000009000000000000000
Tuning/Tetris/Library/metadata/00/0000000000000000a000000000000000
Tuning/Tetris/Library/metadata/00/0000000000000000b000000000000000
Tuning/Tetris/Library/metadata/00/0000000000000000c000000000000000
Tuning/Tetris/Library/metadata/0d/0dce69ef4246bf048a541fa3bed0875e
Tuning/Tetris/Library/metadata/11/1133db32bc82edb4b86a090b0517df95
Tuning/Tetris/Library/metadata/13/1324c32ac18820c4588b0801bca68d58
Tuning/Tetris/Library/metadata/1e/1e14c1c7b5db29b48ac1ee3625a2841c
Tuning/Tetris/Library/metadata/38/386c72f8e1e07fd4eb1e969ef3a6e790
Tuning/Tetris/Library/metadata/49/4974abb992f1c68418a8735a1e95865b
Tuning/Tetris/Library/metadata/4b/4b7310ff8d3379b4a938bb64709e999a
Tuning/Tetris/Library/metadata/4c/4cfaff68084d9cc48a17fcb84ba54281
Tuning/Tetris/Library/metadata/50/50f4bce1ea370b340967a4c522eb14b6
Tuning/Tetris/Library/metadata/53/532e70c2b3df5aa4b9998945e6c907a2
Tuning/Tetris/Library/metadata/5d/5d9bf96eaa80f7d44ae6537db4958c82
Tuning/Tetris/Library/metadata/63/63dd79438356a5749a3a9b6f39820318
Tuning/Tetris/Library/metadata/70/70b6aa29ae87d904c88a1498fd210269
Tuning/Tetris/Library/metadata/71/715b129e094f8b54ca0bfdf331b57253
Tuning/Tetris/Library/metadata/7c/7c28d195fddbe7c46b2989b9824d01cd
Tuning/Tetris/Library/metadata/7d/7d6fc3ae1dc894b42ab0245750ff157d
Tuning/Tetris/Library/metadata/ba/ba294b25851cebd4285de5aeb70a2139
Tuning/Tetris/Library/metadata/c5/c5b45d51d7edde945860cce68a428529
Tuning/Tetris/Library/metadata/ef/ef86f0f00b3174d4c8ff13d9aa1958d9
Tuning/Tetris/Library/metadata/f1/f1db420b1308473459fbc8f5cf619b22
Tuning/Tetris/Library/metadata/f4/f4a2beede3bee6e4182554ad13c65c55
Tuning/Tetris/Library/metadata/ff/ff1514692035fd04eb5981b88e165aac
Tuning/Tetris/Temp/UnityLockfile
PSG_Marcin/Engine2D/Engine2D.opensdf
Silnik_Majster/DirectXEngine/Debug/colorPS.cso
Silnik_Majster/DirectXEngine/DirectXEngine/ReadMe.txt
Silnik_Majster/DirectXEngine/DirectXEngine/DirectXEngine.vcxproj.filters
Silnik_Majster/DirectXEngine/DirectXEngine/DirectXEngine.vcxproj
Silnik_Majster/DirectXEngine/DirectXEngine/Debug/vc120.idb
Silnik_Majster/DirectXEngine/DirectXEngine/Debug/DirectXEngine.tlog/link.write.1.tlog
Silnik_Majster/DirectXEngine/DirectXEngine/Debug/DirectXEngine.tlog/link.read.1.tlog
Silnik_Majster/DirectXEngine/DirectXEngine/Debug/DirectXEngine.tlog/link.command.1.tlog
*.tlog
*.cso
Silnik_Majster/DirectXEngine/DirectXEngine.opensdf
Silnik_Majster/DirectXEngine/DirectXEngine.sdf
Tuning/Tetris/Library/metadata/4b/4bdff28d2049a4e41823ae84b1874835
Tuning/Tetris/obj/Debug/Assembly-CSharp-vs.csproj.FileListAbsolute.txt
PUM/workspace/.metadata/
PUM/google-play-services_lib/
PUM/workspace/appcompat_v7/
PUM/workspace/CarTracker/bin/AndroidManifest.xml
PUM/workspace/CarTracker/bin/CarTracker.apk
PUM/workspace/CarTracker/bin/R.txt
PUM/workspace/CarTracker/bin/classes.dex
PUM/workspace/CarTracker/bin/classes/android/support/v7/appcompat/R$anim.class
PUM/workspace/CarTracker/bin/classes/android/support/v7/appcompat/R$attr.class
PUM/workspace/CarTracker/bin/classes/android/support/v7/appcompat/R$bool.class
PUM/workspace/CarTracker/bin/classes/android/support/v7/appcompat/R$color.class
PUM/workspace/CarTracker/bin/classes/android/support/v7/appcompat/R$dimen.class
PUM/workspace/CarTracker/bin/classes/android/support/v7/appcompat/R$drawable.class
PUM/workspace/CarTracker/bin/classes/android/support/v7/appcompat/R$id.class
PUM/workspace/CarTracker/bin/classes/android/support/v7/appcompat/R$integer.class
PUM/workspace/CarTracker/bin/classes/android/support/v7/appcompat/R$layout.class
PUM/workspace/CarTracker/bin/classes/android/support/v7/appcompat/R$string.class
PUM/workspace/CarTracker/bin/classes/android/support/v7/appcompat/R$style.class
PUM/workspace/CarTracker/bin/classes/android/support/v7/appcompat/R$styleable.class
PUM/workspace/CarTracker/bin/classes/android/support/v7/appcompat/R.class
PUM/workspace/CarTracker/bin/classes/com/google/android/gms/R$attr.class
PUM/workspace/CarTracker/bin/classes/com/google/android/gms/R$color.class
PUM/workspace/CarTracker/bin/classes/com/google/android/gms/R$drawable.class
PUM/workspace/CarTracker/bin/classes/com/google/android/gms/R$id.class
PUM/workspace/CarTracker/bin/classes/com/google/android/gms/R$integer.class
PUM/workspace/CarTracker/bin/classes/com/google/android/gms/R$string.class
PUM/workspace/CarTracker/bin/classes/com/google/android/gms/R$style.class
PUM/workspace/CarTracker/bin/classes/com/google/android/gms/R$styleable.class
PUM/workspace/CarTracker/bin/classes/com/google/android/gms/R.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/BuildConfig.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/MainActivity.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/MapController$1.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/MapController$2.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/MapController.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/MyMapFragment.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/R$anim.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/R$attr.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/R$bool.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/R$color.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/R$dimen.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/R$drawable.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/R$id.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/R$integer.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/R$layout.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/R$string.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/R$style.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/R$styleable.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/R.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/StatisticsFragment.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/TrackActivity.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/TrackingController$1$1.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/TrackingController$1$2.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/TrackingController$1.class
PUM/workspace/CarTracker/bin/classes/com/plodz/cartracker/TrackingController.class
PUM/workspace/CarTracker/bin/dexedLibs/android-support-v4-3f19b14576ebef07d0fa0378a2422d73.jar
PUM/workspace/CarTracker/bin/dexedLibs/android-support-v7-appcompat-e94fff5a8cfaa02a5a8046025d8457b4.jar
PUM/workspace/CarTracker/bin/dexedLibs/appcompat_v7-66f9511fb1d30e81338d9c5bdca078c6.jar
PUM/workspace/CarTracker/bin/dexedLibs/google-play-services-ec76f27b2feb7cd153db639e16d97cc4.jar
PUM/workspace/CarTracker/bin/dexedLibs/google-play-services_lib-d2efbf68121f74a214339d6d7e171b2c.jar
PUM/workspace/CarTracker/bin/res/crunch/drawable-hdpi/ic_launcher.png
PUM/workspace/CarTracker/bin/res/crunch/drawable-mdpi/ic_launcher.png
PUM/workspace/CarTracker/bin/res/crunch/drawable-xhdpi/ic_launcher.png
PUM/workspace/CarTracker/bin/res/crunch/drawable-xxhdpi/ic_launcher.png
PUM/workspace/CarTracker/bin/resources.ap_
PSG_Marcin/Engine2D_odpowiedz/
Tuning/Tetris/Tetris.userprefs
PUM/workspace/CarTracker/bin/
*.sdf
*.opensdf
*.idb
Tuning/Tetris/Library/
Tuning/Tetris/Assets/Materials/partikl.mat.meta
Tuning/Tetris/Assets/Gwiazdka.png.meta
Tuning/Raner/Library/metadata/3d/3df23eb4258f20b4c819354e311aa0fc
XNA/Shit/Shit/Shit/bin/x86/Debug/Content/Textures/brick.xnb
XNA/Shit/Shit/Shit/obj/x86/Debug/ContentPipeline-{ED0C40E0-BD82-4537-A0E6-E44DE96446AD}.xml
XNA/Shit/Shit/Shit/bin/
XNA/Shit/Shit/Shit/obj/
XNA/Shit/Shit/Shit/Shit.csproj.Debug.cachefile
XNA/Shit/Shit/ShitContent/obj/
XNA/ModelTest/ModelTest/ModelTest/obj/
XNA/ModelTest/ModelTest/ModelTest/bin/
XNA/ModelTest/ModelTest/ModelTest/ModelTest.csproj.Debug.cachefile
XNA/ModelTest/ModelTest/ModelTestContent/obj/x86/Debug/ModelTestContent.contentproj.FileListAbsolute.txt
PKons/Tester/ipch/tester-6d891d1/tester-84cdcae3.ipch
PAG/PAG01/PAG01/PAG01.7z
